# Default Configs
USER_ID= #UID for containers
GROUP_ID= #GID for containers
TZ= #TimeZone for containers
RESTART_POLICY= #Restart policy for the Containers
DOMAIN= #Domain that 

# Directories
CONFIGS_PATH= #Path where the configs will be saved
DATA_PATH= #Path where the data will be saved
MEDIA_PATH= #Path where the media will be saved

# Swag Container
ADMIN_MAIL= #Mail that will be associated to the Letsencrypt Certificates

# MariaDB
ROOT_PW= #Root password of the MariaDB

# Plex
PLEX_CLAIM= #https://www.plex.tv/claim/

# Wireguard Container
WIREGUARD_CLIENTS= #How many clients want to be created
WIREGUARD_DNS= #DNS use for wireguard clients

# Pi-Hole
PI_PASSWORD= #Password for Pi-Hole admin page

# Cloudflare-DDNS
CLOUDFLARE_API= #API of cloudflare
CLOUDFLARE_SUBDOMAIN= #Sudomain to be updates
CLOUDFLARE_PROXIED= #Choose if wanna be proxied by cloudflare

# Netdata
DOCKER_GID= # It will let netdata resolve containers names. grep docker /etc/group | cut -d ':' -f 3

# Bitwarden
BW_PASSWORD= #Admin password for bitwarden admin page
BW_SMTP_HOST= #Mail host
BW_SMTP_FROM= #Mail sent from
BW_SMTP_PORT= #Mail port
BW_SMTP_USERNAME= #Mail username
BW_SMTP_PASSWORD= #Mail password
BW_DATABASE= #https://github.com/dani-garcia/bitwarden_rs/wiki/Using-the-MySQL-Backend